body {
  background: #22272e;
  color: #ffffffae;
  margin: 10px auto;
}

.container {
  text-align: center;
}

.sub-container {
  display: flex;
}

/* logo */
.rectangle {
  width: 120px;
  background: #ccc;
  height: 100px;
  margin: 0 auto;
  display: grid
}

.circle {
  background: #22272e;
  width: 130px;
  height: 115px;
  border-radius: 50%;
  margin-left: -5px;
  margin-top: -8px;
  display: grid
}

.inner-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #cccccc;
  margin: auto;
}

/* header */
.title-container {
  display: grid;
}

.title {
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 20px;
}

.add-new {
  display: flex;
  font-size: 20px;
  margin: auto;
  align-items: center;
  cursor: pointer;
}

/* team */
.team-members {
  text-align: left;
  background: linear-gradient( to left, #1f2227, #282f3b );
  overflow-y: scroll;
  height: 511px;
  margin-top: 1px;
}

.members-list {
  padding: 26px 0;
  display: flex;
  align-items: center;
  font-size: 32px;
  position: relative;
  cursor: pointer;
}


.deactive {
  font-size: 28px;
  transition: all 1s ease-in-out;
}

.active {
  font-size: 62px;
  background-image: linear-gradient( to right, #282f3b, #060606 );
  transition: all 1s ease-in-out;
}

.plus-sign {
  width: 54px;
  padding: 0 15px;
}

.delete-icon {
  width: 22px;
  height: 25px;
}

.member-name {
  width: 80%;
}

input[type="text"], input[type="number"] {
  border: 0;
  height: 40px;
  width: 60%;
  box-shadow: 0px 2px 8px inset #000;
  background: #e1dfcc;
  padding: 5px 15px;
  font-size: 20px;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    margin: 0;
    color:red
}

input[type="text"]:focus, input[type="number"]:focus {
  outline: none;
}

.new-member-form {
  display: flex;
  width: 100%;
}

button {
  background: none;
  border: 0;
}

.add-new-member {
  display: flex;
  padding: 26px;
  box-shadow: 0px 2px 0px #0000004d, inset 0 8px 6px -6px #0000001f;
}

.new-member-label {
  width: 20%;
  margin: auto;
}

.team {
  width: 50%;
}

.non-editable {
  pointer-events: none;
}

.checkmark {
  padding: 0 10px;
}

/* timer */
.timer {
  width: 50%;
  font-size: 320px;
  padding: 50px;
  padding-top: 130px;
  display: grid;
  font-family: 'Orbitron', sans-serif !important;
  background: linear-gradient( to right, #060606, #282f3b );
}

.timer-inner {
  box-shadow: 10px 0px 10px -5px rgba(0, 0, 0, 0.45), -10px 0px 10px -5px rgba(0, 0, 0, 0.45);
  padding: 55px 20px 0 20px;
}

.timer-container {
  font-size: 20px;
}

.timer-inner span {
  font-size: 16px;
  position: absolute;
  cursor: pointer;
}

.timer-control-icon img {
  width: 50px;
  position: absolute;
  margin-top: -75px;
}

.timer-inner input {
  border: 0;
  height: auto;
  width: 75%;
  box-shadow: none;
  background: transparent;
  padding: 0;
  font-size: 290px;
  color: white;
  font-family: 'Orbitron', sans-serif !important;
  text-align: center;
}


